#container{
    box-sizing: border-box;
    border: 2px solid firebrick;
   
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    width:808px;
   
    
    
    
}

body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
}

.square{
 box-sizing: border-box;
 border: 1px solid blue;
 /* flex: 1; */
 /* height: 50px;
 width: 50px;  */
  
}

